// on other templates, extend this base template file
html(lang="ko")
    head
        // the pageTitle parameter is received from Controllers
        title #{pageTitle} | #{locals.siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav 
                ul 
                    li
                        a(href="/") Home
                    if locals.loggedIn
                        li 
                            a(href="/users/logout") Log Out
                        li 
                            a(href="/my-profile") #{locals.loggedInUser.name}'s Profile
                    else
                        li 
                            a(href="/join") Join 
                        li
                            a(href="/login") Login
                    li
                        a(href="/search") Search 
                    li 
                        a(href="/videos/upload") Upload Video
        main
            //insert a block (a window to place contents after extending base.pug)
            block content
    //simply import footer.pug from partials directory
    include partials/footer.pug