extends base.pug

block content
    h4 Update Video
    //action is where you want to send the below data
    //GET -> used for search purposes , POST -> used for sending/changing files and manipulation of DB data such as login info
    form(method='POST')
        input(name='title', placeholder="Video Title", value=video.title, required)
        input(name='description', placeholder='Description', type='text', minlength=20, value=video.description, required)
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save",type="submit")