extends base.pug

block content
    h4 Change Title of Video
    //action is where you want to send the below data
    //GET -> used for search purposes , POST -> used for sending/changing files and manipulation of DB data such as login info
    form(method='POST')
        input(name='title', placeholder="Video Title", value=video.title, required)
        input(value="Save", type="submit")