extends base
include mixins/video

block content
    h2 Welcome, here are the trending videos
    each vid in videos
        //+ << imports the function from mixin template
        +video(vid)
    else
        li Sorry, nothing was found
